table {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    border-spacing: 20px;
    text-align: center;
}
.light-mode {
    background-color: white;
    color: black;
    .b {
        opacity: 0.95;
        color: black;
        box-shadow:
            0px 15px 20px grey,
            inset 0px 0px 10px lightgrey;
    }
}

body {
    background-color: black;
    color: white;
    .b {
        opacity: 0.93;
        color: white;
        box-shadow:
            inset -10px -10px 100px black,
            0px -5px 40px grey,
            inset 0px 0px 10px grey;
    }
}
button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border-radius: 40%;
}
.b {
    height: 100px;
    width: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    position: absolute;
    animation-name: drop;
    animation-timing-function: linear;
}

@keyframes drop {
    from {
        top: -100px;
    }
    to {
        top: 110%;
    }
}
